*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
../.ICEauthority
../.Xauthority
../.Xdefaults
../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.config/
../.dmrc
../.dotnet/
../.fltk/
../.fontconfig/
../.gitconfig
../.gnome/
../.hidden
../.inputrc
../.java/
../.local/
../.mozilla/
../.mysql_history
../.pki/
../.profile
../.pulse-cookie
../.ssh/
../.steam/
../.steampath
../.steampid
../.sudo_as_admin_successful
../.thunderbird/
../.var/
../.vscode/
../.wine/
../.xscreensaver
../.xsession-errors
../.xsession-errors.old
../Documentos/
../Downloads/
../Imagens/
../Modelos/
../Steam/
./
../mapa.txt
"../mappa_linguagem_tecnicas_programa\303\247\303\243o_mappa.txt"
../portofolioJoao/
../repos/
../snap/
../vscode-cpptools/
"../\303\201rea de Trabalho/"
